body {
    text-align: center;
    background-image: url("./bgimage.jpg") !important;
    background-repeat: no-repeat;
    background-color: crimson !important;
    background-position: center;
    background-size: cover !important;
    height: 1000px;
    object-fit: cover;
  }
  
.bg-dark {
    background-color: black !important;
}