{% extends "main/layout.html" %}
{% block content %}
<div class="event_details">
  <main class="mt-3 pt-4 main">
    <div class="container dark-grey-text">
      <div class="row wow fadeIn">
        {% for requirement in requirements %}
        <div class="col-md-12 mb-4 information">
            <div class="p-4 content">
                <div class="mt-0">
                    <h2 class="text-center"><u>{{ requirement.created_by }}</u></h2>
                </div>
                <div class="lead">
                    <h5 class="text-center">{{ requirement.created_by.website_link }}</h5>
                    <h5 class="text-center">{{ requirement.created_by.description }}</h5>
                    <h5 class="text-center">{{ requirement.equipments }}</h5> 
                    <h5 class="text-center">{{ requirement.quantity }}</h5>
                    <h5>{{ requirement.description }}</h5>
                    <h5>{{ requirement.reason }}</h5> 
                    <h5>{{ requirement.required_by }}</h5>
                    <h5>{{ requirement.additional }}</h5>
                    <hr>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="card p-4">
          <div class="card-body">
              <h5 class="card-title">{{ requirement.equipments }}</h5>
              <br />
              <blockquote class="blockquote">
                Giving is not just about making a donation, it's about making a
                difference
                <footer class="blockquote-footer">Kathy Calvin</footer>
              </blockquote>
              <br />
              <form action="{% url 'main:donate' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Quantity</label>
                  <input
                    type="integer"
                    class="form-control"
                    name="quantity_donated"
                    placeholder="Enter quantity to donate"
                  />
                  <input type="hidden" name="pk" class="form-control" value="{{requirement.id}}">
                </div>
                <br />
                <button type="submit">Donate</button>
              </form>
              <p>
                If you donate an item, you get credits which can be redeemed at the
                credits store on our site. Please refer to the requirements to credits page for more details.
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
</div>
{% endblock %}