{% extends "main/layout.html" %}
{% block content %}
<div class="home">
    <div class="container">
      {% if gifts %}
      <h1 class="text-center mb-3">Redeem Your Credits Here</h1>
      <div class="row">
        {% for gift in gifts %}
            <div class="col-sm-4">
                <div class="card mb-3" style="height: 300px; border-radius: 5px;">
                    <div class="card-body text-center bg-dark text-light">
                        <img src="{{ gift.image.url }}" >              
                      <h4 class="text-center">{{ gift.name }}</h4>
                      <h5 class="text-center">{{ gift.price }}</h5>
                      <h4 class="text-center">{{ gift.description }}</h4>  
                      <a href="{% url 'main:redeem' gift.id %}" class="btn btn-info">Redeem</a>           
                    </div>
                </div>
            </div>            
        {% endfor %}
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}